<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<p>To reset your AreaWide password follow this link here:</p>
<a href=<%="exp://10.0.0.9:19000/--/resetPassword/" + @user.email + "/" + @user.reset_password_token%> ><%="exp://10.0.0.9:19000/--/resetPassword/" + @user.email + "/" + @user.reset_password_token%></a>
  </body>
</html>