<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<p>To reset your AreaWide password follow this link here:</p>
<a href="areawide-mobile/resetpassword/<%=user.email%>/<%=user.reset_password_token%>" >areawide-mobile/resetpassword</a>



    
  </body>
</html>